---
import { getCollection } from "astro:content";
import PostDate from "../components/PostDate.astro";
import HeaderLayout from "../layouts/Header.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.published.valueOf() - a.data.published.valueOf(),
);
---

<HeaderLayout>
	<p>
		Christian programmer working on{" "}
		<a href="https://dawesome.io/">passion</a>{" "}
		<a href="https://openbible.io">projects</a>.
	</p>
	<h1>Posts</h1>
	<ul class="list-none p-0">
		{posts.map((post) => (
			<li>
				<article>
					<h2>
						<a href={`/${post.id}`}>{post.data.title}</a>
					</h2>
					<p>
						<PostDate
							published={post.data.published}
							updated={post.data.updated}
						/>
					</p>
				<div>{post.data.description}</div>
				</article>
			</li>
		))}
	</ul>
</HeaderLayout>
